
@media screen and (max-width: 1950px) and (min-width: 500px){
    /* ------------------------------------------------------------
	Reset Styles (from meyerweb.com)
------------------------------------------------------------ */

    /*html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    } */
    /* ------------------------------------------------------------
        General Styles
    ------------------------------------------------------------ */
    body{
        height: 100vh;
        display: grid;
        /*background: #D2CFDF;*/
        background: #4E84FB;
        font-family: "Lucida Grande", Verdana, sans-serif;
        font-size: 16px;
    }
    h1{
        margin-bottom: 50px;
        margin-top: 0;
    }
    h3{
        font-size: 24px;
        margin: 0;
        background: #BECCE3;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 10px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .space{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }
    .space > ul > li{
        list-style: circle;
        display: list-item;
    }
    h5{
        text-decoration: underline;
        font-size: 14px;
    }
    .logo img{
        float: left;
        height: auto;
        width: 170px;
        margin-top:-5px;
        margin-left: 10px;
    }
    figure {
        display: inline-block;
        margin-left: 300px;
    }
    .photo img{
        width: 150px;
    }
    .color > p > a{
        color: #0e5a4b;
        font-weight: 500;
    }
    .color > p > a:hover{
        color: #ff6347;
        font-weight: 500;
    }
    .space ul > li > ul > li{
        list-style: square;
        display: list-item;
    }
    /** -------------------BODY CONTAINER------------------- **/
    .container{
        margin-right: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-gap: 0 0;
        align-items: stretch;
        align-content: stretch;
        grid-template-areas:
                "nav nav nav nav"
                "header header header header"
                "intro intro intro intro"
                "banner banner banner banner"
                "sitemap sitemap sitemap sitemap"
                "rationale rationale rationale rationale"
                "footer footer footer footer";
    }
    /*-- Header area--*/
    .header{
        grid-area: header;
        /*  background: #D2CFDF; */
        background: #4E84FB;
        color: #000000;
        text-align: center;
        margin: 0;
    }

    .header > h1{
        font-size: 100px;
        font-weight: bolder;
        font-family: fantasy;
    }
    /*-- Navigation area--*/
    .fixed-header {
        position: fixed;
        top:0; left:0;
        width: 100%;
        clear: both;
        height: 70px;
        z-index: 2;
    }
    .nav{
        grid-area: nav;
        text-align: right;
        /*   background: #D2CFDF;*/
        background: #4E84FB;
    }
    .first-nav ul{
        list-style-type: none;
        text-align: right;
    }
    .first-nav > ul{
        display: inline-block;
        text-align: center;
    }

    .first-nav > ul > li {
        line-height: 50px;
        height: 100%;
        margin: 5px;
        padding: 5px;
        background-color: #34495e;
        font-size: 15px;
        text-decoration: none;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    /*-- Intro area--*/
    .intro{
        grid-area: intro;
        background: #DCECFF;
        width: 100%;
    }
    /*-- banner area: will display team members and positions--*/
    .banner{
        grid-area: banner;
        background: #DCECFF;
        width: 100%;
    }
    /*-- Site-map area--*/
    .site-map{
        grid-area: sitemap;
        background: #EEF5FF;
        width: 100%;
    }
    /*-- Rationale area--*/
    .rationale{
        grid-area: rationale;
        background: #EFEEFF;
        width: 100%;
    }
    /*-- Footer area--*/
    .footer{
        grid-area: footer;
        width: 100%;
    }
    /* ------------------------------------------------------------
        Sitemap Styles
    ------------------------------------------------------------ */

    .sitemap {
        display: inline-block;
        padding: 40px;
        font-family: "proxima-nova", sans-serif;
        font-size: 12px;
        line-height: 1;
        background: #DCECFF;
    }

    li a,
    li a.multi:after {
        position: relative;
        display: block;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        white-space: normal;
        color: #333;
        background-color: white;
        border: 1px solid #f5f5f5;
        border-top: 4px solid #95a5a6;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        z-index: 1;
    }

    li a {
        -webkit-box-shadow: 1px 1px 2px rgba(106,113,127,0.2);
        -moz-box-shadow: 1px 1px 2px rgba(106,113,127,0.2);
        box-shadow: 1px 1px 2px rgba(106,113,127,0.2);
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    li a.multi:after {
        content: " ";
        position: absolute;
        left: 6px;
        top: 6px;
        width: 100%;
        height: 100%;
        border-width: 2px;
        border-color: #eee;
        border-top-width: 0 !important;
        border-left-width: 0 !important;
        background-color: transparent;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-bottom-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        z-index: -1;
    }

    .sitemap li a:before {
        content: " "attr(href)" ";
        display: block;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        margin-right: 20px;
        color: #95a5a6;
    }

    li a small {
        display: block;
        font-weight: normal;
        font-size: 12px;
        margin-top: 10px;
    }

    .sitemap .fa {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 16px;
        vertical-align: middle;
    }

    /* --- Root --- */
    ul, li {
        position: relative;
        display: inline-block;
    }

    .primary ul li:before,
    .primary ul li:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-color: #ddd;
        border-width: 1px;
        z-index: 0;
    }

    .primary ul li a { border-top-color: #e74c3c; width: auto; }
    .primary ul li a:before, .primary ul li .fa { color: #e74c3c; }

    /* --- Level 1 --- */
    .primary ul ul {
        white-space: nowrap;
    }

    .primary ul ul li {
        position: relative;
        vertical-align: top;
        padding-top: 20px;
        margin-right: 20px;
        white-space: normal;
        width: 100%;
    }

    .primary ul ul li:last-child {
        padding-right: 0;
    }

    .primary ul ul li:before {
        border-top-style: solid;
        width: 30px;
        top: 50px;
        margin: 0 0 0 -30px;
    }

    .primary ul ul li:first-child:before {
        border-top-style: none;
        border-left-style: solid;
        width: 0;
        height: 30px;
        top: 0;
        left: 45px;
        margin: 0 0 0 -30px;
    }

    .primary ul ul li a { border-top-color: #3498db; width: auto; }
    .primary ul ul li a:before, .primary ul ul li .fa { color: #3498db; }

    /* --- Level 2 --- */
    .primary ul ul ul {
        display: block;
        white-space: normal;
    }

    .primary ul ul ul li {
        display: block;
        position: relative;
        width: 100%;
        padding-left: 30px;
        margin-right: 0;
    }

    .primary ul ul ul li:before,
    .primary ul ul ul li:first-child:before  {
        border-top-style: none;
        border-left-style: solid;
        height: 100%;
        top: 0;
        left: 45px;
    }

    .primary ul ul ul li:last-child:before  {
        height: 50px;
    }

    .primary ul ul ul li:after  {
        border-top-style: solid;
        top: 50px;
        left: 15px;
        width: 15px;
    }

    .primary ul ul ul li a { border-top-color: #2ecc71; width: auto; }
    .primary ul ul ul li a:before, .primary ul ul ul li .fa { color: #2ecc71; }

    /* --- Level 3 --- */
    .primary ul ul ul ul li a { border-top-color: #e67e22; }
    .primary ul ul ul ul li a:before, .primary ul ul ul ul li .fa { color: #e67e22; }

    /* --- Level 4 --- */
    .primary ul ul ul ul ul li a { border-top-color: #9b59b6; }
    .primary ul ul ul ul ul li a:before, .primary ul ul ul ul ul li .fa { color: #9b59b6; }

    /* --- Secondary --- */
    .secondary {
        display: block;
        margin-top: 20px;
        padding-top: 20px;
        border-top: dotted 2px #eee;
    }

    .secondary ul {
        white-space: nowrap;
    }

    .secondary ul li {
        display: inline-block;
        white-space: normal;
        padding: 0 20px 0 0;
    }

    .secondary ul li:before,
    .secondary ul li:after {
        display: none;
    }

    .secondary ul li:last-child {
        padding: 0;
    }

    /* --- Widths --- */
    .primary > ul > li > a,
    .primary > ul > li > ul > li,
    .secondary li a {
        width: 220px;
    }

}
@media screen and (max-width: 500px) {
    nav{
        visibility:hidden ;
    }

}