@media print { 
	#top_bar { 
	display:none;
	}
	#footer_wrapper{
	display:none;
	}
	body{
	float: none;
	width: auto;
	margin: 0;
	padding: 0;
	background: none;
	color: black;
	font: 16pt Georgia, "Times New Roman", Serif;
	}
	h2, h2, h4, h5, h6{ 	
	page-break-after: avoid;
	}
	a:link, a:visited {
	color: #330099;
	text-decoration: underline;
	font-weight: bold;	
	}
	a[href^="http://"]:link:after, a[href^="http://"]:visited:after{
   content: " (URL: " attr(href) ") ";
   font-size: 90%;
	}
	.aside-2{
		display: none;
		float: none;
	}
	iframe{
		display: none;
	}
    button.accordion {
        color: black;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        font-weight: bolder;
        text-decoration: underline;
    }
    div.panel {
        padding: 0;
        font-size: 12px;
    }
}